body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
}

#spinner {
    background-color:#CF4342;
    color:#FFFFFF;
    top: 0px;
    right: 0px;
    position:fixed;
}

#spinner img {
    vertical-align:middle;
    margin:2px;
}

.loading {
    margin-left: 300px;
    margin-top: 180px;
}

.pagination ul {
   float: none;
   display: inline-block;
   overflow: hidden;
}
.pagination.center {
   text-align: center;
}

